build/
**/build/
CMakeFiles/
**/CMakeFiles/
CMakeCache.txt
**/CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.out
*.exe
.vscode/
**/.vscode/
docs/interview_notes.md
docs/requirements.md
docs/resume_data_extraction.md
